JIRA_EMAIL=yaswinirayapati@gmail.com
JIRA_API_TOKEN=ATATT3xFfGF0O7Nfz5cjRVuCa5Pggk6FTOVifirU1ye_kLzaCMjrpt-3V9UyHeDUGzGNr2hnsR3s5nH7JVdM5qcXghF4XBd3VO1dHyYFv4CyGIASlRtBqke5-B0XlxPgHnrJ8jEqj0uMrGOcBOZUQTn9wfpI7JGIDQb7-swGaPacAX-6FzP33Gk=8BBFE26D
JIRA_URL=https://yaswinirayapati-1754099836943.atlassian.net/
JIRA_PROJECT_KEY=OPS
OPENROUTER_API_KEY=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
LOG_FILE_PATH=C:/Users/BADE.HARSHITHA/bug-tester-ai/logs/app.log
